<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 
<html>
    <head>
        <title>Joseph McCullough | Developer Blog and Resume</title>
        
<meta charset="utf8">
<meta name="description" content="Slash is a clean one-column theme designed for Octopress, supporting all features in classic theme and built-in Fancybox. Want to try a different theme? That's is!">

<link rel="stylesheet" type="text/css" href="/static/css/style.css" />

    </head>
<body>
    <header class="inner">
    <h1 class="left"><a href="/">JoeQuery</a></h1>
    <nav class="menu left">
        <ul class="main">
            <li><a href="/code">Programming</a></li>
            <li><a href="/math">Math</a></li>
            <li><a href="/screencast">Screencasts</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
	<div id="content" class="inner">
        





 
    
    <article class="page">
        <h1 class="title">Latest screencast</h1>
        <h2><a href="/screencast/intro-c-pointers">Introduction to pointers in C</a></h2>
        <div class="entry">
            <p>In this screencast, we cover the basics of pointers in C including:</p>
<ul>
<li>What exactly is a pointer?</li>
<li>What does it mean to dereference a pointer?</li>
<li>How can we use pointers to change arguments passed to functions?</li>
</ul>
        </div>
        <div class="entry">
            <p>December 07, 2012 | 
            <a href="/screencast/intro-c-pointers">Read the full article</a> |
            <a href="screencast">View more screencasts</a>
            </p>
        </div>
    </article>



 
    
    <article class="page">
        <h1 class="title">Latest math article</h1>
        <h2><a href="/math/thoughts-on-proof-strategies">Thoughts on proof strategies</a></h2>
        <div class="entry">
            <p>In your typical undergraduate math textbook, it's fairly common to see phrases
like:</p>
<blockquote>
<p>Applying the division algorithm, we see that ...</p>
</blockquote>
<p>What is almost never explained, though, is why the author felt compelled to use
the division algorithm in the first place. The tendency for textbooks to 
omit the strategies involved in formulating a proof leads to students lacking
a sense of direction when tackling proofs on their own.</p>
        </div>
        <div class="entry">
            <p>December 07, 2012 | 
            <a href="/math/thoughts-on-proof-strategies">Read the full article</a> |
            <a href="math">View more math articles</a>
            </p>
        </div>
    </article>




    </div>
    <footer class="inner">
    <a href="https://github.com/tommy351/Octopress-Theme-Slash">(Slash)
</footer>
    
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</body>
</html>