{% from "macros" import yt %}
{% extends "basic-layout.html" %}
{% block title %}Joseph McCullough | Developer Blog and Resume{% endblock title %}

{% block body %}
<article class="page">
    <h1 class="title">Programming</h1>
    <div class="entry">
        <p>Type the code below and experience Slash!</p>
<pre>
$ cd octopress
$ rake install['slash']
$ rake generate
</pre>
    <p>04/25/2010 | <a href="#">Read the full article &rarr;</a></p>
    </div>
</article>

<article class="page">
    <h1 class="title">Math</h1>
    <div class="entry">
        <p>Type the code below and experience Slash!</p>
<pre>
$ cd octopress
$ rake install['slash']
$ rake generate
</pre>
    <p>04/25/2010 | <a href="#">Read the full article &rarr;</a></p>
    </div>
</article>

<article class="page">
    <h1 class="title">Screencasts</h1>
    <div class="entry">
        <p>Type the code below and experience Slash!</p>
<pre>
$ cd octopress
$ rake install['slash']
$ rake generate
</pre>
    <p>04/25/2010 | <a href="#">Read the full article &rarr;</a></p>
    </div>
</article>
{% endblock %}
