{% from "macros" import img %}
{% extends "basic-layout.html" %}
{% block title %}Resume | Joseph McCullough{% endblock %}

{% block body %} 
<article class="page">
    <div class="entry">
{% filter markdown %}
Resume
======

Contact
-------

Joseph McCullough  
Email: [joseph@vertstudios.com](mailto:joseph@vertstudios.com)  
Phone: (903) 330-7961

Employment
----------

### [Andrew Harper][31] (June 2013-Present)

  * Internal and external REST API development via Django.
  * I aid the team with the following when requested:
    + Git structure and organization
    + JavaScript
  * Self-appointed Test lead (because I'm the only one that writes them...)

### [Communications Corporation of America][0] (Dec 2011-June 2013)
  
  * Drupal module development for 25+ TV station websites
  * In-house utilities to aid workflow
  * Amazon Web Services management
  * General Ubuntu Server administration
  * Custom backup utility creation for local servers

### [Vert Studios][1] - Partner (Sep 2010-2012)

  * Custom jQuery plugin development
  * Simple website development via Wordpress, RefineryCMS
  * Deployment, hosting, and version control management
  * Traffic generation via technical articles

### McCullough Designs - Owner (2009-Sep 2010)

  * Clients include
    * Donco Oilfield Inc.
    * ETV Software
    * Design903
  * Designed websites, sliced PSDs to HTML, set up hosting. 

Open Source Projects
--------------------

Github profile: [JoeQuery][2]

### Authored Projects

* [MiddleMan][33] - (Work in progress) Provides internet-capable
microcontrollers the ability to extract data from JSON APIs without the need to
set up a server. (See an [example][34]).
* [Stupid Table Plugin][7] - A stupidly simple jQuery table sorting plugin
  (Used by Mozilla!)
* [joequery.me][25] - This very website, a custom Flask blog engine. 
* [UT Tyler API][26] - A JSON API that enables UT Tyler students to retrieve
data from various UT Tyler web services.
* [Stupid-EasyMotion][23] - A fork of EasyMotion that removes excess clutter.
[See demo][24].  
* [mrbc playground][30] - An environment to quickly convert ruby to object code.
* [Stagger][5] - Backup multiple MySQL databases at staggered times to ease 
  server load
* [Route53-To-S3][6] - Backup Route53 DNS Records from AWS to S3
* [Rails Template][8] - Rails template with extensive nginx documentation  
* [Vert-Flask][9] - The source of the Vert Studios website, made with Flask.

### Project Contributions

* [mruby][29] - Lightweight, embeddable Ruby. 
* [ScreenX TV][27] - Terminal broadcasting service.
* [Python Requests][10] - Python HTTP request module
* [Tyler Public Art][11] - Public art map/list, curated by [HackTyler][12]

Publications
------------

I frequently write articles on programming, server configuration, bug fixes,
and best practices.

* [Python built-in function reference (Work in progress)][32]
* [Beginner's Introduction to Pointers in C][17]
* [Introduction to Recursion][13]
* [Converting a simple website to Python Flask][18]

Skills
------

* Python / Ruby / PHP
* MySQL
* Git
* JavaScript
* Very comfortable in a Linux environment
* Technical writing

Education
---------

University of Texas at Tyler  
Major: Computer Science with Math minor  
3900 University Boulevard  
Tyler, TX 75701-6699  
(903)566-7000  

### Associates in General Studies
Tyler Junior College  
1327 South Baxter Avenue  
Tyler, Texas 75701  
(903)510-2200 Graduation Date: 2010  

### High School Diploma
Robert E. Lee High School  
411 ESE Loop 323  
Tyler, TX 75703  
(903)262-2625  
Graduation Date: 2009  
  
References
----------

Available upon request.

[0]: http://www.comcorpusa.com/
[1]: http://www.vertstudios.com/
[2]: https://github.com/joequery
[3]: https://github.com/joequery/SnipSnip
[5]: https://github.com/Hack56/Stagger
[6]: https://github.com/Hack56/Route53-To-S3
[7]: https://github.com/joequery/Stupid-Table-Plugin
[8]: https://github.com/Hack56/Rails-Template
[9]: https://github.com/joequery/Vert-Flask
[10]: https://github.com/kennethreitz/requests
[11]: http://www.tylerpublicart.com/
[12]: https://groups.google.com/forum/?fromgroups#!forum/hacktyler
[13]: http://www.vertstudios.com/blog/introduction-recursion-part-2/
[14]: http://www.vertstudios.com/blog/git-workflow-crap-committed-master/
[15]: http://www.vertstudios.com/blog/nginx-php-fpm-installation-guide-10-04/
[16]: http://www.vertstudios.com/blog/multiple-screenrc-configurations-gnu-screen-tutorial/
[17]: http://vertstudios.com/blog/introduction-pointers-in-c/
[18]: http://vertstudios.com/blog/new-flask-site/
[20]: http://www.vertstudios.com/blog/
[21]: https://github.com/joequery/Stupid-Table-Plugin/blob/master/stupidtable.js
[22]: https://github.com/Hack56/Rails-Template/wiki/Nginx-Server-Configuration
[23]: https://github.com/joequery/Stupid-EasyMotion
[24]: http://www.youtube.com/watch?v=oMnK_llHoK8
[25]: https://github.com/joequery/joequery.me
[26]: https://github.com/joequery/ut-tyler-api
[27]: http://screenx.tv/doc/team
[28]: https://github.com/joequery/habitbot/commit/53ac9629aada2ab776c3e3be2d32db73919dd002
[29]: https://github.com/mruby/mruby
[30]: https://github.com/joequery/mrbc-playground
[31]: http://www.andrewharper.com/
[32]: http://joequery.me/code/python-builtin-functions/
[33]: https://github.com/joequery/MiddleMan/tree/init_dev
[34]: https://github.com/joequery/MiddleMan/blob/9012bcd83358528d05b74d8dbd1c8926b833138f/tests/parser/usage.py#L205

{% endfilter %}
    </div>
</article>
{% endblock %}
