<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <!-- static pages -->
  <url>
    <loc>http://joequery.me/</loc>
  </url>
  <url>
    <loc>http://joequery.me/resume</loc>
  </url>
  <url>
    <loc>http://joequery.me/contact</loc>
  </url>
  <!-- post categories -->
  {% for cat in categories %}
  <url>
    <loc>http://joequery.me/{{cat}}/</loc>
  </url>
  {% endfor %}
  <!-- posts -->
  {% for post in posts %}
  <url>
    <loc>http://joequery.me/{{post}}/</loc>
  </url>
  {% endfor %}
</urlset>

