{% from "macros" import img, yt %}
{% extends "basic-layout.html" %}
{% block title %}Tutoring | Joseph McCullough{% endblock %}

{% block body %}
<article class="page">
    <h1 class="title">Tutoring</h1>
    <div class="entry">
{% filter markdown %}
Online private and group tutoring sessions are now available for the Fall 2013
semester. Availability is limited - tutoring sessions are handled on a
first-come first-serve basis with reserved appointments available upon request
(perfect for midterm/final reviews!)

Why JoeQuery for a tutor?
-------------------------

<h4>Only 100% comprehension is acceptable</h4>

Many professors and textbooks alike have a tendency to gloss over important
concepts with a matter-of-factly, "[this is too obvious to even explain][0]" attitude
that leaves students discouraged and unprepared for tests. My tutoring sessions
thoroughly explore the concepts until all uncertainty is eliminated.

[0]: /math/thoughts-on-proof-strategies/

<h4>Examples, examples, examples</h4>

Higher level concepts, such as recursion and isomorphisms, cannot be understood
or applied without a thorough number of examples.  My tutoring sessions use
examples found from internet resources, multiple textbooks, and real world
applications in order to expose the student to different perspectives. Most
importantly, I craft my own examples on a per-student basis to exercise specific
areas they may not completely understand. After my sessions, not only will you
understand the concepts, you can *do something with them*.

<h4>I do this because I want to, not because I have to</h4>

While some professors at the university level genuinely love to teach, many
unfortunately view teaching as an annoyance necessary to continue pursuing their
research. I, on the other hand, have a well paying job outside of academia.
Thus, tutoring for me is not a requirement. It is instead an opportunity to
share my love and enthusiasm for mathematics, computer science, and the
acquisition of knowledge. I cannot express how happy I feel when a student tells
me they finally "get it" thanks to me.

<h4>All presentational materials provided after the session</h4>

After our session has concluded, you will receive all material covered in a
digital format for your convenience. Materials include

* An MP4 of our session with video and audio
* A PDF of all notes taken
* Any source code files created

What subjects are available for tutoring?
-----------------------------------------

### Math

* Basic mathematics (College Algebra through Calculus I)
* Introduction to proofs
* Discrete mathematics
* Abstract algebra
* Algorithms in mathematics

### Computer Science

* All intro courses
* Data structures
* Algorithm design and analysis
* Object Oriented programming

If you want tutoring over a specific programming language, I can help with the
following:

* C
* C++
* Python
* Java
* Ruby
* Python
* PHP (Why would you pay to learn this?!)


How do I know you're actually good at teaching?
--------------------------------------

Here are some comments extracted from my educational [YouTube videos][1].
(Comments extracted from [here][2] and [here][3]).

[1]: http://www.youtube.com/user/JoeQuery/videos
[2]: http://www.youtube.com/all_comments?v=IkyWCOUY8V4
[3]: http://www.youtube.com/all_comments?v=3JX6TyLOmGQ

<blockquote>
Thanks, Joe. The best pointer tutorial I've come across. I've been struggling
with this for some time and I feel like I finally have a good hold on it.
</blockquote>

<blockquote>
Thank you for the tutorial. The explanation is clear, straight forward, and easy
to understand.  If there are five stars to rate this tutorial, I give you
five stars.  Unfortunately, it only accepts one like.
</blockquote>

<blockquote>
Thanks for this video!!  I really like when things are explained clearly, you
are certainly gifted. I really look forward to see more C tutorials.
Cheers :)
</blockquote>

<blockquote>
these videos are so helpful for studying for my final exam, you need to make
more! Great job, keep up the good work
</blockquote>

I invite you to evaluate my teaching style yourself. These YouTube screencasts should
provide a general feel for how I do things.
<div class="">
    <iframe src="http://www.youtube.com/embed/IkyWCOUY8V4"
            frameborder="0" allowfullscreen width="500" height="300"></iframe>
</div>
<div class="">
    <iframe src="http://www.youtube.com/embed/TA_qrRZ1cpI"
            frameborder="0" allowfullscreen width="500" height="300"></iframe>
</div>

Pricing and Availability
------------------------

All sessions are a minimum of 1 hour, maximum of 4 hours on weekdays, maximum of
8 hours on weekends.

* 1 on 1 tutoring: $30/hr
* Groups of 2-4: $40/hr
* Groups of 5 or more: $50/hr

### Scheduling a session

To schedule a session, email me at
[joseph@vertstudios.com](mailto:joseph@vertstudios.com). Please include the
following information:

* Contact information for the primary contact of your group (or just your
information for 1 on 1 tutoring)
* Course subject (Algorithms, Abstract Algebra, etc.)
* A description of the specific problems you are having with the subject matter.
* Example problems or review questions you find troublesome
* Desired date/time for tutoring session\*
* Desired duration of tutoring session

\* I am available during the evenings on weekdays, and all day on the weekends.

After receiving your email, I will confirm my availability for the requested
date. I will need at least 3 days to prepare a lesson plan for sessions less
than 4 hours, and at least 5 days for sessions more than 4 hours.

### Payments

Payments should be sent to
[joseph@vertstudios.com](mailto:joseph@vertstudios.com) via PayPal. Payment is
required **before lesson plans will be made**.

Questions
---------

If you have any questions about my tutoring services, feel free to contact me
through any of the many ways listed on my [contact page](/contact).



{% endfilter %}

    </div>
</article>
{% endblock %}
