<header class="inner">
    <h1 class="left"><a href="{{url_for('static_pages.home_page')}}">JoeQuery</a></h1>
    <nav class="menu left">
        <ul class="main">
            <li><a href="/code">Programming</a></li>
            <li><a href="/math">Math</a></li>
            <li><a href="/screencast">Screencasts</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/tutoring">Tutoring</a></li>
            {% if g.streaming %}
            <li><a href="/stream" class="streaming">LIVE! - Watch code stream</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
