{% extends "templates/post.html" %}
{% block post %}

{% filter markdown %}
In your typical undergraduate math textbook, it's fairly common to see phrases
like:

> Applying the division algorithm, we see that ...

What is almost never explained, though, is why the author felt compelled to use
the division algorithm in the first place. The tendency for textbooks to 
omit the strategies involved in formulating a proof leads to students lacking
a sense of direction when tackling proofs on their own.

Understanding the subject matter is not sufficient
--------------------------------------------------

Simply understanding the subject matter does not in any way guarantee success
in completing proofs related to the subject. This is because the act of proving
something in mathematics demands the execution of small arithmetic operations
that aren't directly associated with what you're studying. For example, the
division algorithm and its properties have very few direct associations with
Group theory, but you use the division algorithm constantly in Abstract
Algebra.

An example strategy: the division algorithm
-------------------------------------------

Here is an example of an actual proof technique/strategy that students can
apply to any proof when necessary. Consider the following problem, which comes
up quite frequently in elementary proofs:

> "I need to get some number in terms of this other number, but I can't find
any obvious correlation between the two"

The division algorithm lets you relate one integer to another very easily.
Since for any integer `a` and `b` there exists unique `q` and `r` such that
`a=bq+r`, you can use the division algorithm to express a number in terms of
any other number. 

This fact will probably have almost nothing to do with the subject area being
explored by the student, but knowledge of this fact is necessary to complete
the proof.

Conclusion
----------

Teachers and textbooks need to make proofs less hand-wavy. There are specific
reasons why authors call upon proof techniques such as the division algorithm -
they should take the time to tell the students their reasoning. 




{% endfilter %}

{% endblock post %}


