{% for post in posts %}
<article class="page">
    <h1 class="title"><a href="{{post['url']}}">{{post['title']}}</a></h1>
    <div class="entry">
        <p>{{post['description']|safe}}</p>
    </div>
    <div class="entry">
        {{post['pubDate']}} | 
        <a href="{{post['url']}}">Read the full article</a>
    </div>
</article>
{% endfor %}
{% if nextPage or prevPage %}
   <article class="page">
        <div class="entry">
            {% if prevPage %}
            <a href="/{{category}}/{{prevPage}}">&laquo; Newer Articles</a> 
            {% endif %}
            {% if prevPage and nextPage %}
              &#8212;
            {% endif %}
            {% if nextPage %}
            <a href="/{{category}}/{{nextPage}}">Older Articles &raquo;</a> 
            {% endif %}
        </div>
   </article>
{% endif %}
