{% extends "basic-layout.html" %}
{% block title %}Joseph McCullough | Developer Blog and Resume{% endblock title %}

{% block body %}

{% macro blog_preview(category, catTitle, post) %}
    <article class="page">
        <h1 class="title">{{post['title']}}</h1>
        <div class="entry">
            {{post['description']|safe}}
        </div>
        <div class="entry">
            <p>{{post['pubDate']}} | 
            <a href="{{post['url']}}">Read the full article</a> |
            <a href="{{category}}">View more {{catTitle}}s</a>
            </p>
        </div>
    </article>
{% endmacro %}

{% if posts['code'] %} 
    {{blog_preview("code", "programming article", posts['code'])|safe}}
{% endif %}

{% if posts['screencast'] %} 
    {{blog_preview("screencast", "screencast", posts['screencast'])|safe}}
{% endif %}

{% if posts['math'] %} 
    {{blog_preview("math", "math article", posts['math'])|safe}}
{% endif %}

{% endblock %}

