{% macro post_preview(post) %}
    <article class="page">
        <h1 class="title"><a href="{{post['url']}}">{{post['title']}}</a></h1>
        <div class="entry">
            {{post['description']|safe}}
        </div>
        <div class="entry">
            <p>{{post['pubDate']}} | 
            <a href="{{post['url']}}">Read the full article</a> |
            <a href="{{post['category']}}">View more {{post['viewMore']}}</a>
            </p>
        </div>
    </article>
{% endmacro %}

{% for post in posts %}
    {{ post_preview(post)|safe}}
{% endfor %}
