{% from "macros" import blog_img %}
{% extends "layout.html" %}
{% block title %}{{post['title']}} | JoeQuery{% endblock %}
{% block body %}
<article id="blogPost" class="page">
    <h1 class="title"><a href="/{{post['url']}}">{{post['title']}}</a></h1>

    <div class="hireme">
        <p>Pardon the interruption! I'm currently looking for a full-time or
        part-time development position. <a href="/resume">View my resume</a></p>
    </div>

    {% if post['series'] %}
        <div class="entry">
            <p>(This post is part of the 
                <a href="/series/{{post['series']}}/">{{post['series']}}</a>
                series.)
            </p>
        </div>
    {% endif %}

    <div class="entry">
        {% block post %}
        {% endblock post %}
    </div>
</article>

    <article style="padding: 0px 0px;" class="page">
        <div class="entry">
            <h2 style="border: 0px;" class="title">Was this article useful?</h2>
            <p>If this article helped you solve your problem, consider
            hiring me for a full-time or part-time position so I can help you
            solve more problems! <a href="/resume">View my resume</a></p>
        </div>
    </article>

{% if post['tags'] %}
    <article style="padding: 0px 0px;" class="page">
        <div class="entry">
            <h2 style="border: 0px;" class="title">Tagged as
            {% for t in post['tags'] %}
                <a href="/tag/{{t}}/">{{t}}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
            </h2>
        </div>
    </article>
{% endif %}

{% if post['series'] %}
    <article style="padding: 0px 0px;" class="page">
        <div class="entry">
            <h2>(This post is part of the 
                <a href="/series/{{post['series']}}/">{{post['series']}}</a>
                series.)
            </h2>
        </div>
    </article>
{% endif %}

<article>
    Date published - {{ post['date'] }}
</article>

{% endblock body %}

