{% from "macros" import blog_img %}
{% extends "layout.html" %}
{% block body %}
<article id="blogPost" class="page">
    <h1 class="title"><a href="{{post['url']}}">{{post['title']}}</a></h1>
    <div class="entry">
        {% block post %}
        {% endblock post %}
    </div>
    <div class="entry">
        {{ post['date'] }}
    </div>
  </div>

  {% if post['related'] %}
  <div id="related">
    <h2>Related Articles</h2>
    <ul>
      {% for postTitle,postURL in post['related'] %}
        <li><a href={{postURL}}>{{postTitle}}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div><!--blogpost-->
{% endblock body %}

