{% from "macros" import img, blogimg, snippet %} {% set p = post %}
{% extends "templates/post.html" %} {% block post %} {% filter markdown %}

A typical UWSGI ini file may look something like 
{{ snippet(p, "old_ini.ini")|safe}}

`chdir` is convenient because it lets us specify the `project`, `virtualenv`,
and similar options in terms of the directory we assign to `chdir`. For
example, `project` is treated as `/var/www/myapp.com/myapp`.

So what exactly does `chdir` do internally, and how can it cause problems with
symbolic links?

chdir()
--------

If you read through the UWSGI C source, you'll discover it calls the
[chdir()][0] function when the `chdir` option is provided. If you read through
the function documentation, you'll see 

> ... If the last component of path is a symbolic link, chdir() resolves the
contents of the symbolic link

So if you pass a symbolic link to `chdir`, the directory path the link
references is what will be used in the "substitutions" of `project` and
`virtualenv`. Once you run uwsgi with this symlink, you'll notice errors
related to virtualenv occuring. This is because the paths don't exactly match
up, even though they essentially point to the same place.

The solution
------------

A quick fix is to just create a variable that holds the projects directory, and
then use this variable within the other variables.

{{ snippet(p, "new_ini.ini")|safe}}

[0]: http://publib.boulder.ibm.com/infocenter/iseries/v5r3/topic/apis/chdir.htm



{% endfilter %} {% endblock post %}
